:root {
  --cor-error: hsl(0, 100%, 66%);
  --cor-texto: hsl(0, 0%, 100%);
  --cor-opaca: hsl(270, 3%, 87%);
  --cor-input: hsl(279, 6%, 55%);
  --cor-botao: hsl(278, 68%, 11%);
  --cor-input-contraste: hsl(249, 99%, 64%);

  --font-size-medio: 1.125rem; /* 18px */
  --font-size-input: 0.889rem; /* 16px */
  --font-size-cartao-pequeno: 0.667rem; /* 12px */
  --font-size-miudo-cartao: 0.625rem; /* 10px */
  --font-size-descricao-cartao: 0.44rem; /* 8px */

  --letter-spacing-pequeno: 0.1rem; /* 1.8px */
}
