:root {
  --color-error: hsl(0, 100%, 66%);
  --color-text: hsl(0, 0%, 100%);
  --color-opaque: hsl(270, 3%, 87%);
  --color-input: hsl(279, 6%, 55%);
  --color-button: hsl(278, 68%, 11%);
  --color-input-contrast: hsl(249, 99%, 64%);

  --font-size-giant: 1.75rem; /* 28px */
  --font-size-big: 1.2rem; /* 19.2px */

  --font-size-label: 0.75rem; /* 12px */
  --font-size-big-card: 0.875rem; /* 14px */
  --font-size-small-card: 0.625rem; /* 10px */
}
